.galleries {
    position: relative;
    margin-top: 30px;
}
.gallery {
    margin: 20px;
    border: 2px solid #aaa;
}
.gallery:last-child {
    margin-bottom: 50px;
}
.gallery-tattoos {
    color: #fff;
    display: inline-block;
    margin: 160px 0 0 20px;
    font-family: 'Covered By Your Grace', cursive;
}
.gallery-art {
    color: #fff;
    display: block;
    margin: 20px;
    font-family: 'Covered By Your Grace', cursive;
    clear: left;
}